
p{
    font-family:cursive;
    color: #98989a;
}
#main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}



#logoimage
{
    width:7%;
    height: 20%;
    float:left;
    padding-top: 6%;
    color:white;
    font-size: large;
    font-family: "lucida console", monospace;

}
#startup
{
    width:10%;
    height: 20%;
    float:left;
    padding-left: 50px;
    padding-top: 23px;
    color:white;
    font-size: larger;
    font: monospace;

}
#logo {
    width: 10%;
    height: 10%;
    border:1px solid gray;
   background-color: white;
    float:left;
    padding-left: 40%;

}



.footer {
    width: 100%;
    height:10%;
   margin: 0;
    padding: 0;
}
.footer1
{
    margin: 0;
    padding: 0;
   height: 10%;
    background-color: #2d2e33;

}

body
{
    margin: 0 auto;

}


#bg
{




    /*height:82%;*/
    background: url("../images/bg.jpg")  no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
input
{
    border-radius: 5px;
    border: 1px solid darksalmon;
}
.loginBg
{

    width: 100%;


    /*height:82%;*/
    background: url("../images/login-bg.jpg")  no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.loader {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/ajax-loader.gif') 50% 50% no-repeat transparent ;
    opacity: 5;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ffffff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}
.error {
    color: white;
}
.container
{
    height: 100%;
}
table, td, th {      }
/*table {  width: 100%;  }*/
/*th {  height: 50px;  background-color:  #333333;  }*/
/*tr {  background-color: #E68F8F; color: #f9f9f9;*/
/*}*/
/*td{  font-size: large; color: #333333; }*/
.borderless td, .borderless tr {
    border-color: #ffffff;
}