.mobileImage
{
    padding-top: 19%;
    padding-left: 15%;
}
#logoImage
{
    margin-top: 55px;margin-left: 20px;list-style: none;
}
.textDiv
{
    border: 1px solid grey;
    width:78%;
    background-color:
    white;margin-left: 5%;
    margin-top: 30px;
}
.footerSet
{
    margin-left: -113px;
    margin-right: -113px;
    margin-top: 20px;
    color: #ffffff;
}